/* VARRIABLES */
:root {
  --body-background-1: #9BABB8;
  --body-background-2: white;
  --body-text: #1f1f1f;
  --border-color: #aaa;
  --border-color-focus: blue;
  --select-arrow: var(--border-color);
  --warning: red;
  --button-color: #2d66f4;
  --button-hover: #1853e8;
  --table-desc-bg: #4a55a2;
  --table-border: #7895cb;
}
/* VARRIABLES ==> END */


/* COMMON STYLES */
html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: var(--body-background-1);
  color: var(--body-text);
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
}

textarea {
  resize: vertical;
  width: 100%;
}

/* COMMON STYLES ==> END */


/* TIME MEASURE */
.head {
  padding: 60px 0 30px;
}
.time-measure {
  padding: 30px 0 60px;
}

.time-measure__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.form-control {
  padding: 20px;
  min-height: 382px;
  max-width: 482px;
  border-radius: 8px;
  background-color: var(--body-background-2);
  box-shadow: 0 8px 40px rgba(0,0,0,.1);
}

.data-output > span {
  display: block;
  width: 100%;
  padding: 12px 6px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: var(--table-desc-bg);
}

.data-output__preview {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 100%;
}

.data-output__items {
  display: flex;
  flex-wrap: wrap;
}

.data-output__items > p {
  flex: 1;
  margin: 0;
  padding: 6px;
  border: 1px solid var(--table-border);
}

.data-output__items > p:last-child {
  flex: 100%;
}

.data-output__items:nth-child(even) > p {
  background-color: #c5dff8;
}

.data-output__items:nth-child(odd) > p {
  background-color: #a0bfe0;
}

.section-head {
  margin: 0;
  font-size: 48px;
  line-height: 40px;
  text-align: center;
}

.form-control__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dates-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-control__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-control__item:nth-child(4) {
  gap: 0;
}

.form-control__item input {
  width: 100%;
  height: 36px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.warning {
  position: relative;
}

.warning input {
  border: 1px solid var(--warning);
}

.warning span {
  position: absolute;
  right: 0;
  bottom: -20px;
  font-size: 14px;
  line-height: 20px;
  color: red;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

select,
.form-control__preset-select::after {
  grid-area: select;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--border-color-focus);
  border-radius: inherit;
}

input:focus,
textarea:focus {
  border: 2px solid var(--border-color-focus);
  outline: none;
}

input[type=checkbox]:focus, input[type=checkbox]:focus-visible {
  outline: 2px solid #005fec;
  outline-offset: -1px;
}
 
.form-control__preset-select {
  position: relative;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  width: 100%;
  height: 36px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;
  background-color: white;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.form-control__preset-select::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.form-control__btn {
  width: 100%;
  min-height: 44px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: white;
  background-color: var(--button-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s;
}

.form-control__btn:hover {
  background-color: var(--button-hover);
}

input,
fieldset {
  border: 1px solid var(--border-color);
}

input,
textarea {
  border-radius: 4px;
}

textarea {
  border: 1px solid var(--border-color);
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
}

fieldset > legend {
  margin-bottom: 4px;
}

.duration-types {
  margin: 0;
}

.duration-types__list {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checkbox input {
  position: absolute;
  z-index: 10;
  width: 0;
  right: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox .checkmark {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 3px;
  outline: 1px solid #acacac;
  transition: all 0.2s ease;
}

.checkbox:hover .checkmark {
  background: #f4f4f5;
  transition: all 0.2s ease;
}

.checkbox input:checked ~.checkmark {
  background: #3f7fed;
  outline: 1px solid rgb(95, 126, 240);
}

.checkbox .checkmark::after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  top: 40%;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: all 0.2s ease;
}

.checkbox input:checked ~ .checkmark::after {
  opacity: 1;
  transition: all 0.2s ease;
}

/* CSS for 375px – 767px */
@media (min-width: 375px) {
  .form-control {
    padding: 40px 32px;
  }
}

/* CSS for 768px – 991px */
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .form-control {
    padding: 42px;
  }

  .form-control__items {
    gap: 20px
  }

  .dates-input {
    flex-direction: row;
    gap: 24px;
  }

  #item-start,
  #item-end {
    flex: 1 0;
    width: 50%;
  }

  .form-control__item {
    gap: 8px;
  }

  .duration-types__list {
    flex-direction: row;
  }

  .checkbox {
    margin-right: 24px;
  }
}

/* CSS for 992px – 1119px */
@media (min-width: 992px) {
  .checkbox > input {
    width: 20px;
    height: 20px;
  }
}

/* TIME MEASURE ==> END */