@import "../node_modules/normalize.css/normalize.css";

/* COMMON STYLES */
html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: #f2f2f2;
  color: #1f1f1f;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.container {
  padding: 0 40px;
}

textarea {
  resize: vertical;
  width: 100%;
}

/* COMMON STYLES ==> END */


/* TIME MEASURE */
.time-measure {
  padding: 96px 0 36px;
}

.form-control {
  margin: 0 auto;
  padding: 24px;
  min-height: 382px;
  max-width: 552px;
  background-color: #ffffff;
  box-shadow: 0 8px 40px rgba(0,0,0,.1);
}

.form-control__title {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.form-control__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-control__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-control__item input {
  width: 100%;
  height: 36px;
  padding: 12px;
  border: 1px solid #aaa;
}

.form-control__preset-select {
  width: 100%;
  height: 36px;
  border: 1px solid #aaa;
}

.form-control__btn {
  width: 100%;
  min-height: 44px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;
  background-color: #2d66f4;
  border: 0;
  cursor: pointer;
  transition: all .3s;
}

/* CSS for 768px – 991px */
@media (min-width: 768px) {
  .form-control {
    padding: 48px;
  }

  .time-measure__container {
    padding: 0 40px;
  }
}

/* CSS for 992px – 1119px */
@media (min-width: 992px) {}

/* CSS for screens more than 1200px */
@media (min-width: 1200px) {}

/* TIME MEASURE ==> END */
